In [2]:
import pandas as pd
import datetime
from pathlib import Path
%matplotlib inline

In [4]:
file_path = Path("Resources/cad_jpy.csv")
cad_jpy = pd.read_csv(file_path, index_col='Date', infer_datetime_format=True, parse_dates=True)
cad_jpy.head()

             Price    Open    High     Low
Date
1982-01-05  184.65  184.65  184.65  184.65
1982-01-06  185.06  185.06  185.06  185.06
1982-01-07  186.88  186.88  186.88  186.88
1982-01-08  186.58  186.58  186.58  186.58
1982-01-11  187.64  187.64  187.64  187.64

In [7]:
# Trim the dataset to begin on January 1st, 1990
cad_jpy = cad_jpy.loc["1990-01-01":, :]
cad_jpy.head()

             Price    Open    High     Low
Date
1990-01-02  126.37  126.31  126.37  126.31
1990-01-03  125.30  125.24  125.30  125.24
1990-01-04  123.46  123.41  123.46  123.41
1990-01-05  124.54  124.48  124.54  124.48
1990-01-08  124.27  124.21  124.27  124.21

In [ ]:
# Create a series using "Price" percentage returns, drop any nan"s, and check the results:
# (Make sure to multiply the pct_change() results by 100)
# In this case, you may have to replace inf, -inf values with np.nan"s